body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animateContainer {
  border-radius: 10px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #8b8b8b;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverContainer {
  border-radius: 10px;
  border: 2px solid #b9b9b9;
  padding: 1rem;
}

.hoverContainer::before{
  content: 'Try to hover the mouse on this container';
  font-size: medium;
}

.examples pre code{
  font-size: small !important;
}

.examples pre {
  line-height: 0.5rem !important;
  border-radius: 10px;
}