body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root div {
  border-radius: 10px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #8b8b8b;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}