body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animateContainer {
  border-radius: 10px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #8b8b8b;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples pre code{
  font-size: small !important;
}

.examples pre {
  line-height: 0.5rem !important;
  border-radius: 10px;
}